<!DOCTYPE html>
<html class="content"></html>
<head>
<title>page Title</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ex_style.css') }}">
</head>
<body>

<h1>Christmas Jam</h1>

<p>Welcome oh wanderer of the web worldwide
<br>We are the guardians of the Crypto-Christmas vibe.
<br>To allow you further in your virtual trip
<br>We must assure you are all onboard this Christmas ship.
<br>So leave out the negativity
<br>And dive deep into the jolly festivity!
<br>Tell us, oh gay wanderer
<br>Which carol is sought the most
<br>By the British people on the Youtube cloud host?</p>

<p><a href="/page2">See the answer</a></p>

</body>
</html>